@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="content">
    <h1 class="display-4">@ViewData["Title"]</h1>


    <p>Mitt namn är Christine och jag går sista terminen på Webbutvecklingsprogrammet mot Miun i Sundsvall. </p>
    <p>I den här kursen ska vi lära oss mer om .NET så det har varit en rivstart med bl.a. C#, Razor Pages samt Blazor.
        Ju mer
        jag håller på med detta desto mer förstår jag. Ibland kan det bli allt för abstrakt med vad alla olika saker och
        ting är.
    </p>

    <img src="img/annasvan.jpg" alt="svan i vatten" />

</div>
