@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";

}


<div class="content">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>I den här uppgiften har en webbplats skapats med Razor Pages som totalt innehåller tre sidor; Hem för
        startsidan, Razor där innehållet skapats dynamiskt med Razor samt Om som handlar om mig.
    </p>
    <p>Syftet med uppgiften är att få en grundläggande uppfattning om olika begrepp och tekniker
        inom ASP.net Core.
    </p>
    <p>Frivillig funktionalitet med JavaScript har jag skapat i form av en light mode/dark mode toggle slider
        som är placerad under menyn.
    </p>
    <p>I del två av uppgiften kommer en webbplats skapas med hjälp av Blazor.</p>




</div>
